.services{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    
   

}
.services-section{
    margin-top: 30px !important;
}
.services-section h1{
    color:rgb(4, 143, 39)
}