.services{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    column-gap: 10px;
}

.services-section{
    margin-top: 30px !important;
    margin-bottom: 50px;
    padding: 0 40px;
   
}
.services-section h1{
    color:rgb(4, 143, 39)
}