.items {
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(218, 214, 214);
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
  }
  .items:hover {
    color: rgb(0, 85, 243);
  }
  .menu-bar{
      display: flex;
      margin-top:17px
  }
.logo-name{
    color:rgb(255, 3, 137) !important;
    font-size: 28px !important;
}